# Credenciais para o Desafio 2
DESAFIO=2
MARATONA_ID=117028

# Discovery
SERVICE_ENDPOINT=https://gateway-wdc.watsonplatform.net/discovery/api
IAM_APIKEY=mpjAiM9eG2NIbPgSjD98tSm6IBR19gzv2kIIH-BeRtjQ
COLLECTION_ID=87e3dfa5-5706-4949-9d8f-9922bb6b513b
CONFIGURATION_ID=f1f3deae-d356-4c0d-bc00-c130f36bfb63
ENVIRONMENT_ID=f0a77c5c-1820-472f-b2fc-e049e450ee8f


